<h2 class="text-center mt-4">Dashboard</h2>

{{!-- New Post Button --}}
<div class="text-center">
    <a href="/newpost" class="new-post-link bg-sec fnt-quat py-1 px-2 rounded">+ New Post</a>
</div>

<ul class="blog-links my-3">
    {{#each blogposts as |blogpost|}}
    <li>
        <a href="/editpost/{{blogpost.id}}" class="blog-link d-block bg-prim fnt-quat px-3 py-2 my-2 rnd">{{blogpost.title}}</a>
    </li>
    {{/each}}
</ul>