<div class="form-wrapper mt-5 pt-1 px-3 rounded">

    <h3 class="text-center">Sign-up</h3>

    <form class="form">
        <div class="form-group">
            <label for="signup-name">Name:</label>
            <input type="text" id="signup-name" class="form-control">
        </div>
        <div class="form-group">
            <label for="signup-email">Email:</label>
            <input type="email" id="signup-email" class="form-control">
        </div>
        <div class="form-group">
            <label for="signup-password">Password:</label>
            <input type="password" id="signup-password" class="form-control">
        </div>
        <button id="submit-button" type="submit" class="btn btn-block sub-btn mt-4">Submit</button>
    </form>
    <p class="mt-2 pb-2">Already have an account? <a href="/login">Login</a></p>
</div>