/* Color Palete:
prim: #363333
sec: #272121
tert: #e16428
quat: #f6e9e9
*/

/* Fonts:
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* variables */
:root {
    --prim: #363333;
    --sec: #272121;
    --tert: #e16428;
    --quat: #f6e9e9;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: var(--quat);
}

/* misc styling */
.rnd {
    border-radius: 10px;
}

/* background colors */
.bg-prim {
    background-color: var(--prim);
}

.bg-sec {
    background-color: var(--sec);
}

.bg-tert {
    background-color: var(--tert);
}

.bg-quat {
    background-color: var(--quat);
}

.p-gradient {
    background-image: linear-gradient(white, black);
    z-index: 1;
}


/* font colors */
.fnt-prim {
    color: var(--prim);
}

.fnt-sec {
    color: var(--sec);
}

.fnt-tert {
    color: var(--tert);
}

.fnt-quat {
    color: var(--quat);
}

h1, h2, h3, h4 {
    font-family: 'Barlow Condensed', sans-serif;
}

#logout-button {
    border: none;
}

/* links */
nav .nav-link {
    font-family: 'Montserrat', sans-serif;
}

.card-body p {
    max-height: 1.5em;
}

.happy-taco {
    width: 4em;
}

/* forms */
.form-wrapper {
    background-color: var(--prim);
    color: var(--quat);
}

.pass-cap {
    font-size: .9em;
}

.sub-btn {
    background-color: var(--quat);
    font-weight: 700;
}

/* Dashboard Links */
.blog-links {
    list-style: none;
}

.blog-link {
    font-size: 1.5em;
    font-weight: 600;
}

/* Edit Post */
#delete-button {
    background-color: #db3c3c;
}

/* animation */
nav .nav-link:hover, 
#logout-button:hover {
    background-color: var(--quat);
    color: var(--sec);
}

nav .nav-link:active, 
#logout-button:active {
    background-color: var(--tert);
    color: var(--sec);
    transform: scale(.9);
}

.card-link:hover {
    background-color: #e16328c0;
    color: var(--quat);
}

.card-link:active {
    transform: scale(.9);
}

.new-post-link:hover {
    background-color: #272121c9;
    color: var(--quat);
    text-decoration: none;
}

.blog-link:hover {
    text-decoration: none;
    color: var(--quat);
    background-color: #363333ce;
}